.head {
  font-weight: bold;
}
.skill {
  padding-left: 10%;
}
.QR {
  text-align: center;
}
.text {
  padding-top: 2%;
}

@media only screen and (max-width: 768px) {
  .infor {
    display: none;
  }
}
